@tailwind base;
@tailwind components;
@tailwind utilities;

.font-quicksand-slim{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
.font-quicksand-regular{
    font-family: 'Quicksand',sans-serif;
    font-weight:500;
}
.font-slim {
    font-family: 'Josefin Sans', sans-serif;
}
.font-comfortaa{
    font-family: 'Comfortaa', cursive;
}

.font-sf {
    font-family: 'Public Sans', sans-serif;
}

.font-sansMid{
    font-family: 'Work Sans', sans-serif;
}

.font-gothicc{
    font-family: 'Pathway Gothic One', sans-serif;
}

.no-border {
    border: none;
    margin: 0;
    padding-bottom: 3px;
    padding-top: 5px;
}

.input1 {
    height: 30px;
    min-height: 30px;
    color: rgb(231, 93, 93);
    position: relative;
    box-sizing: border-box;
    border-color: #e1bdbd;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;

    padding-left: 17px;
    padding-top: 8px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    font-family: Clarkson, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;


}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.special {
    padding-top: 3px;
    padding-bottom: 1px;
}

.courses{
    background-color: white;
    border-width: 10px;
    border-color: #fcdfdc;
    border-style: solid;
}

.test {
    border: 5px solid #ff849a;
}

.highlight-container, .highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}
.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -5px;
    margin-right: -3px;
    position: absolute;
    background: #fcdfdc;
    transform: rotate(2deg);
    top: 0px;
    left: +2px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
}
/*
.highlight {
    display: inline;
    padding: 3px;
    background: #fcdfdc;

}
*/
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



.box-shadow{
    box-shadow: 0 3px 5px rgb(0 0 0/0.08);
}

.gray {
    color: gray;
}
.orange {
    color: orange;
}







