@import './_trix.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-quicksand-slim{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
.font-quicksand-regular{
    font-family: 'Quicksand',sans-serif;
    font-weight:500;
}
.font-slim {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:300;
}

.font-din{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:500;
}

.font-din-slim{
    font-family: 'Roboto Condensed' , sans-serif;
    font-weight:300;
}

.font-didact{
    font-family: 'Didact Gothic', sans-serif;
}

.font-readex {
    font-family: 'Work Sans', sans-serif;
}

.font-ooga {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:325;
}
.font-abcdef{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:350;
}

.font-comfortaa{
    font-family: 'Comfortaa', cursive;
}

.font-sf {
    font-family: 'Public Sans', sans-serif;
}

.font-sansMid{
    font-family: 'Work Sans', sans-serif;
}

.font-gothicc{
    font-family: 'Pathway Gothic One', sans-serif;
}

.img-glow {
    box-shadow: 0px 0px 5px #fff;
}

.no-border {
    border: none;
    margin: 0;
    padding-bottom: 3px;
    padding-top: 5px;
}

.fix{
    height: 18px;
}

.input1 {
    height: 30px;
    min-height: 30px;
    color: rgb(231, 93, 93);
    position: relative;
    box-sizing: border-box;
    border-color: #e1bdbd;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;

    padding-left: 17px;
    padding-top: 8px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    font-family: Clarkson, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;


}
.gradient-courses{
    background: rgb(250,230,227);
    background: linear-gradient(135deg, rgba(250,230,227,1) 0%, rgba(250,230,227,1) 35%, rgba(250,230,227,1) 70%, rgba(248,173,173,1) 160%);
}

.gradient-clubs{
    background:#9CB4CC;
}

/* Style the tab */
.tab {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ffd6d6;
    background-color: #ffdede;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    justify-content: center;
    align-items: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #efcccc;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ffeded;
}

/* Style the tab content */
.tabcontent {

    display: none;

}

.special {
    padding-top: 3px;
    padding-bottom: 1px;
}

.courses{
    background-color: white;
    border-width: 10px;
    border-color: #fcdfdc;
    border-style: solid;
}

.highlight-container, .highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}
.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -5px;
    margin-right: -3px;
    position: absolute;
    background: #fcdfdc;
    transform: rotate(2deg);
    top: 0px;
    left: +2px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
}
/*
.highlight {
    display: inline;
    padding: 3px;
    background: #fcdfdc;

}
*/
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



.box-shadow{
    box-shadow: 4px 4px 8px rgb(0 0 0/0.06);
}

.box-shadow-hover{
    box-shadow: 0 0px 5px rgb(0 0 0/30);
}

.gray {
    color: gray;
}
.orange {
    color: orange;
}


.trix-editor {
    @apply w-full;
}

.trix-editor h1 {
    font-size: 1.5rem !important;
    line-height: 1.35rem !important;
    @apply leading-5 font-semibold mb-4;
}

.trix-editor a:not(.no-underline) {
    @apply underline;
}

.trix-editor a:visited {
    color: #ff8282;
}

.trix-editor ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.trix-editor ol {
    list-style-type: decimal;
    padding-left: 1rem;
}

.trix-editor pre {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    color: #e1bdbd;
    font-size: 1.2em;
    padding: 0.5em;
    white-space: pre;
    background-color: #271d3a;
    overflow-x: auto;
}



.trix-editor blockquote {
    border: 0 solid #ffb8b8;
    font-family: 'Josefin Sans', sans-serif;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em;
}





